<%= stylesheet_link_tag :main %>
<%= stylesheet_link_tag :coderunner %>
<%= stylesheet_link_tag :webmail %>

<div class="container-fluid">

  <p class="lead ">
    <ins>show knockout js tutorial translate coffee script how todo</ins>
  </p>
  <div class="row">
    <div class="panel panel-primary col-md-8" id="example1">
      <div>
        <div class="panel-heading">
          <section>
            <p>First name: <input data-bind="value: firstName"/></p>

            <p>Last name: <input data-bind="value: lastName"/></p>
          </section>
        </div>
        <div class="panel-body" data-bind="visible:show_code">
<pre class="brush: js;">
  class AppViewModel
  constructor: (firstname,lastname)->
  @firstName = ko.observable(firstname)
  @lastName = ko.observable(lastname)


  $ ->
  ko.applyBindings(new AppViewModel("Bert","Bertington"));
</pre>
        </div>
        <div class="panel-footer">
          <button class="info" data-bind="click:edisplay"> show coffe code</button>
          <button class="info" data-bind="click:ddisplay"> hide code</button>
        </div>
      </div>

    </div>
  </div>

  <h3> L2 knockout js tu2 --> Your seat reservations</h3>

  <div class="row">
    <div class="col-md-8" id="example2">
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>Passenger name</th>
          <th>Meal</th>
          <th>Surcharge</th>
          <th></th>
        </tr>
        </thead>
        <!-- Todo: Generate table body -->
        <tbody data-bind="foreach: seats">
        <tr>
          <!--<td data-bind="text: name"></td>-->
          <!--<td data-bind="text: meal().mealName"></td>-->
          <!--<td data-bind="text: meal().price"></td>-->
          <td><input class="form-control" data-bind="value: name"/></td>
          <td>
            <select class="form-control" data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"></select>
          </td>
          <td><span class="badge" data-bind="text: formattedPrice">Info</span></td>
          <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
        </tr>
        </tbody>
      </table>
      <button class=" btn btn-default" data-bind="click: addSeat">Reserve another seat</button>

      <h3 data-bind="visible: totalSurcharge() > 0">
        Total surcharge: $<span data-bind="text: totalSurcharge().toFixed(2)"></span>
      </h3>

      <div data-bind="visible:show_code" class="info code_container">
  <pre class="brush: js;">
  class SeatReservation
  constructor: (@name, initialMeal) ->
    @meal = ko.observable(initialMeal)
    @formattedPrice = ko.computed () =>
      price =@meal().price
      return  if price  then "$" + price.toFixed(2) else "NONE"


class ReservationsViewModel
  constructor: () ->
    @availableMeals = [
      {mealName: "Standard (sandwich)", price: 0},
      {mealName: "Premium (lobster)", price: 34.95},
      {mealName: "Ultimate (whole zebra)", price: 290}
    ]

    @seats = ko.observableArray([
      new SeatReservation("Steve", @availableMeals[0]),
      new SeatReservation("Bert", @availableMeals[0])
    ])

    @totalSurcharge =ko.computed(() =>
      return _.reduce(_.map(@seats(),((num) -> num.meal().price)),((x1,y1) -> x1 + y1),0)
    )

  addSeat: () =>
    @seats.push(new SeatReservation("", @availableMeals[0]))

  removeSeat: (seat) =>
    @seats.remove(seat)

</pre>
      </div>
      <br>

      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-bind="click:ddisplay">hide</button>
        <button type="button" class="btn btn-default" data-bind="click:display">show</button>
      </div>
    </div>

  </div>

  <div class="row" id="example3">
    <div class="col-md-8">

      <!-- Folders -->
      <ul class="folders" data-bind="foreach: folders">
        <li data-bind="text: $data,
                       css: { selected: $data == $root.chosenFolderId() },
                       click: $root.goToFolder"></li>
      </ul>

      <!-- Mails grid -->
      <table class="mails" data-bind="with: chosenFolderData">
        <thead><tr><th>From</th><th>To</th><th>Subject</th><th>Date</th></tr></thead>
        <tbody data-bind="foreach: mails">
        <tr data-bind="click: $root.goToMail">
          <td data-bind="text: from"></td>
          <td data-bind="text: to"></td>
          <td data-bind="text: subject"></td>
          <td data-bind="text: date"></td>
        </tr>
        </tbody>
      </table>

      <!-- Chosen mail -->
      <div class="viewMail" data-bind="with: chosenMailData">
        <div class="mailInfo">
          <h1 data-bind="text: subject"></h1>
          <p><label>From</label>: <span data-bind="text: from"></span></p>
          <p><label>To</label>: <span data-bind="text: to"></span></p>
          <p><label>Date</label>: <span data-bind="text: date"></span></p>
        </div>
        <p class="message" data-bind="html: messageContent" />
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane active">
    <pre class="brush: js;">
      class  WebmailViewModel
  constructor: () ->
      self=@
      @folders = ['Inbox', 'Archive', 'Sent', 'Spam']
      @chosenFolderId = ko.observable();
      @chosenFolderData = ko.observable();
      @chosenMailData = ko.observable();

      $.sammy(() ->
        @get('#:folder' ,() ->
          console.log(@params.folder)
          self.chosenFolderId(@params.folder)
          self.chosenMailData(null)
          $.get("/mail", { folder: @params.folder }, self.chosenFolderData)
        )

        @get('#:folder/:mailId',()->
          self.chosenFolderId(@params.folder);
          self.chosenFolderData(null);
          $.get("/mail", { mailId: @params.mailId }, self.chosenMailData)
        )

        @get('',()->@app.runRoute('get', '#Inbox'))
      ).run()


  goToFolder : (folder) ->  location.hash = folder
  goToMail   : (mail)   ->  location.hash = mail.folder + '/' + mail.id


$ ->
  ko.applyBindings(new WebmailViewModel(),$("#example3")[0])

    </pre>
  </div>

    <br>
    <button onclick="$(this).siblings('div').removeClass('active')">hide</button>
    <button onclick="$(this).siblings('div').addClass('active') ;$('html, body').scrollTop( $(document).height() );">show</button>

  </div>
</div>


<%= javascript_include_tag "main" %>

