<h1>Open#summy</h1>
<p>Find me in app/views/open/summy.html.erb</p>
<%= javascript_include_tag "open" %>
<div id="container">
  <div id="main">
  </div>
  <ul id="link">
    <li><a href="#/test">Click me!</a></li>
    <li><a href="#/">Back</a></li>
  </ul>
</div>